<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% spaceless %}
                {% block title %}
                {% endblock %}
            {% endspaceless %}
        </title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
